<section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form [formGroup]="form" class="box">
              <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control">
                  <input formControlName="email" type="email" placeholder="e.g. bobsmith@gmail.com" class="input" id="email">
                </div>
              </div>
              <div class="field">
                <label for="password" class="label">Password</label>
                <div class="control">
                  <input formControlName="password" type="password" placeholder="*******" class="input" id="password">
                </div>
              </div>
              <div class="field">
                <button class="button" (click)="email_signin(form.value)">
                  Login with Email
                </button>
              </div>
              <div class="field">
                <button class="button" (click)="google_signin()">
                  Login with Google
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>