.main{
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: lightblue;
    padding: 1vh 2vw 1vh;
    border-radius: 10px;
}
.header{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.body{
    background-color: lightgoldenrodyellow;
    margin: 2vh 1vw 2vh;
    border-radius: 8px;
}
.section{
    border:2px solid red;
}